html, body{
    height: 100%;
    font-size: 16px;
    font-family: "lato", sans-serif;
    margin: 0;
    font-weight: 400;
    color: gray;
}
.image1{
    
    height: 100%;
    position: relative;
    background-position: center;
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image2{
    
    height: 80%;
    position: relative;
    background-position: center;
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image3{
    
    height: 90%;
    position: relative;
    background-position: center;
    background-image: url(images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text1{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 40px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
    letter-spacing: 6px;
    text-transform: uppercase;
    overflow: visible;
    text-shadow: 1px 1px 1px black;
}
.text1bg{
background-color:  rgb(43, 33, 33);
padding: 10px;
}
.text3{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 40px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
    letter-spacing: 6px;
    text-transform: uppercase;
    overflow: visible;
}
.text3bg{
background-color:  rgb(116, 130, 57);
padding: 10px;
}
.section2textbg{
    padding: 20px;
   margin: 5px 0px;
    background-color: rgb(84, 103, 84);
    
}
.section2text{
    
    font-size: 18px;
    color: white;
    word-spacing: 2px;    
    text-shadow: 1px 1px 1px black;
}
.section4textbg{
    padding: 20px;
   margin: 5px 0px;
    background-color: rgb(106, 107, 40);
}
.section4text{
    
    font-size: 18px;
    color: rgb(255, 255, 255);
    word-spacing: 2px; 
    text-shadow: 1px 1px 1px black;   
  
}
.text2{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 40px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
    letter-spacing: 6px;
    text-transform: uppercase;
    overflow: visible;
}
.text2bg{
background-color:  rgb(141, 66, 66);
padding: 10px;
}



